<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@1.480.3">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.filesystem_scm.FSSCM" plugin="filesystem_scm@1.20">
    <path>/home/mvm/git/Masterarbeit/code/projectone/</path>
    <clearWorkspace>true</clearWorkspace>
    <copyHidden>false</copyHidden>
    <filterEnabled>false</filterEnabled>
    <includeFilter>false</includeFilter>
    <filters/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>simpleproject</groupId>
    <artifactId>projectone</artifactId>
  </rootModule>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <perModuleEmail>true</perModuleEmail>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <settingConfigId></settingConfigId>
  <globalSettingConfigId></globalSettingConfigId>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders>
    <de.binarytree.plugins.qualitygates.HelloWorldBuilder plugin="qualitygates@1.0-SNAPSHOT">
      <name>Quality Gates!</name>
      <gates class="linked-list">
        <de.binarytree.plugins.qualitygates.QualityGateImpl>
          <name>Build stability</name>
          <checks class="linked-list">
            <de.binarytree.plugins.qualitygates.checks.MavenSuccessCheck/>
            <de.binarytree.plugins.qualitygates.checks.ExecutionCheck>
              <command>/tmp/command.sh</command>
            </de.binarytree.plugins.qualitygates.checks.ExecutionCheck>
          </checks>
        </de.binarytree.plugins.qualitygates.QualityGateImpl>
        <de.binarytree.plugins.qualitygates.QualityGateImpl>
          <name>POM Documentation</name>
          <checks class="linked-list">
            <de.binarytree.plugins.qualitygates.checks.POMCheck>
              <expression>/project/groupId</expression>
              <targetFile>pom.xml</targetFile>
              <reportContent>true</reportContent>
            </de.binarytree.plugins.qualitygates.checks.POMCheck>
          </checks>
        </de.binarytree.plugins.qualitygates.QualityGateImpl>
        <de.binarytree.plugins.qualitygates.QualityGateImpl>
          <name>Static analysis</name>
          <checks class="linked-list">
            <de.binarytree.plugins.qualitygates.checks.XMLCheck>
              <expression>/violations</expression>
              <targetFile>target/pmd.xml</targetFile>
              <reportContent>true</reportContent>
            </de.binarytree.plugins.qualitygates.checks.XMLCheck>
            <de.binarytree.plugins.qualitygates.checks.XMLCheck>
              <expression>/project</expression>
              <targetFile>target/hugeddubel.xml</targetFile>
              <reportContent>true</reportContent>
            </de.binarytree.plugins.qualitygates.checks.XMLCheck>
            <de.binarytree.plugins.qualitygates.checks.POMCheck>
              <expression>/project/parent/zeug</expression>
              <targetFile>pom.xml</targetFile>
              <reportContent>true</reportContent>
            </de.binarytree.plugins.qualitygates.checks.POMCheck>
          </checks>
        </de.binarytree.plugins.qualitygates.QualityGateImpl>
        <de.binarytree.plugins.qualitygates.QualityGateImpl>
          <name>Misc</name>
          <checks class="linked-list">
            <de.binarytree.plugins.qualitygates.checks.POMCheck>
              <expression>/project</expression>
              <targetFile>pom.xml</targetFile>
              <reportContent>true</reportContent>
            </de.binarytree.plugins.qualitygates.checks.POMCheck>
          </checks>
        </de.binarytree.plugins.qualitygates.QualityGateImpl>
      </gates>
    </de.binarytree.plugins.qualitygates.HelloWorldBuilder>
  </postbuilders>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
  </runPostStepsIfResult>
</maven2-moduleset>